<p id="notice"><%= notice %></p>


<!-- TAKE THIS OUT AND PATHS/VIEWS THAT GO TO IT -->
<!-- <%= link_to 'sort by newest', topic_sort_title_path(@topics) %> -->



<div class="body">

  <div id="navbar">
    <%= link_to 'New Topic', new_topic_path %> ★
    <%= link_to 'Sort by Most Comments', {controller: :topics, action: :index, sort: true} %> ★
    <%= link_to 'Sort by Most Upvotes', {controller: :topics, action: :index, sort_upvotes: true} %>
  </div>

    <% @topics.each do |topic| %>
    <div class="topic">
        <div id="topic_h1">
          <h2 id="topic_title"><%= link_to topic.title, topic %></h2>
            <p><span id="upvote_count"> <%= topic.upvotes_count %> ♥ <%= topic.comments.count %> comments </p><p></span>
              <span id="created"> Created <%= time_ago_in_words(topic.created_at) %> ago
              by <strong><%= topic.user.first_name %></strong>
              </span>
            </p>
        </div>

        </div>
    <% end %>
</div>

<br>
