<p id="notice"><%= notice %></p>

<%= link_to 'New Topic', new_topic_path %>

<h2>Listing Topics</h2>

<!-- working -->
<%= link_to 'sort by newest', topic_sort_title_path(@topics) %>

<!-- not working -->
<%= link_to 'sort by most comments', {controller: :topics, action: :index, sort: true} %>


<div>
    <% @topics.each do |topic| %>
    <hr>
    <div>
        <%= link_to topic.title, topic %>
        <p> Created <%= time_ago_in_words(topic.created_at) %> ago
          by <strong><%= topic.user.first_name %></strong>
        </p>
        <p>
          Comment Count: <%= topic.comments.count %>
          Upvote Count: <%= topic.upvotes_count %>
        </p>
      </div>
    <hr>
    <% end %>
</div>

<br>
