<p id="notice"><%= notice %></p>

<!-- <%= link_to 'New Topic', new_topic_path %> -->

<h2>Listing Topics</h2>

<!-- working -->
<%= link_to 'sort by newest', topic_sort_title_path(@topics) %>

<!-- not working -->
<%= link_to 'sort by most comments', {controller: :topics, action: :index, sort: true} %>


<div>
    <% @topics.each do |topic| %>
    <hr>
    <div>
        <%= link_to topic.title, topic %>
        <p> Created <%= time_ago_in_words(topic.created_at) %> ago
          by <strong><%= topic.user.first_name %></strong>
        </p>
        <p>
          Comment Count: <%= topic.comments.count %>
        </p>
      </div>
    <hr>
    <% end %>
</div>
<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Posted by</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <!-- <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td>Created <%= time_ago_in_words(topic.created_at) %> ago</td>
        <td><%= topic.user.first_name %></td>
        <td><%= topic.likes %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>
