<p id="notice"><%= notice %></p>

<td><%= pluralize(@topic.upvotes_count, "vote") %></td>
<td><%= button_to '+1', upvote_topic_path(@topic), method: :post %></td>

<p>
  <h1><%= @topic.title %></h1>
</p>

<p> Created by
      <strong><%= @topic.user.first_name %></strong>
      <%= time_ago_in_words(@topic.created_at)%> ago.
</p>

<p> Location :
    <%= Net::HTTP.get_response(URI.parse('http://ipinfo.io/region')).body %>
</p>

<p>
  <img src="<%=@topic.user.avatar_url%>" width=100px/>
  <%= markdown(@topic.content) %>
</p>

<hr>


<h2> Comments </h2>
<!-- <p> <% @topic.comments.each do |comment| %> </p>
    <%= comment.title %>
    <% end %>
<p> <%= link_to 'Comment', new_topic_comment_path(@topic)%> </p> -->

<%= render @topic.comments  %>
<hr>
<h3> Reply to thread </h3>
<%= render "comments/form" %>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
