<!DOCTYPE html>
<html>
<head>
  <title>Project2Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Jake's Forum</h1>

<% if current_user %>
  <%= current_user.first_name %>
  <%= link_to 'New Topic', new_topic_path %>
<%= link_to 'Logout', '/logout' %>
<% end %>
<hr>

<%= yield %>

</body>
</html>
