<!DOCTYPE html>
<html>
<head>
  <title>Project2Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "header">
  <% if current_user %>
    <p>
    Logged in as: <%= current_user.first_name %> |
    <%= link_to 'Logout', '/logout' %>
  </p>
  <h1 id="main_h1"><a href="/topics">Unicorn Land</a></h1>

  <% end %>
</div>

<%= yield %>

</body>
</html>
