<!DOCTYPE html>
<html>
<head>
  <title>Project2Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "header">
  <h1 id="main_h1"><a href="/topics">Unicorn Land</a></h1>
  <% if current_user %>
    <%= current_user.first_name %>
    <%= link_to 'New Topic', new_topic_path %>
    <%= link_to 'Logout', '/logout' %>
  <% end %>
</div>

<%= yield %>


</body>
</html>
